body {
    background-color: rgb(245, 224, 197);
}

.navbar{
    height: 5rem;
    background-color: white;
}

.navbar i{
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: #222 !important; 
}