body {
    background-color: rgb(245, 224, 197);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.navbar i{
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: #222 !important; 
}

.footer {
    width: 100%;
    background-color: white;
    color: #222;
    margin-top: auto;
}

.container {
    flex: 1;
}

.footer-link {
    color: #222;
    text-decoration: none;
}

.footer-link:hover {
    color: red;
}

.footer-bottom {
    background-color: #f7f7f7;
}

.listing-link {
    text-decoration: none;
    color: #222;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.listing-card img {
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}

.listing-card img:hover {
 opacity: 0.8;
 background-color: rgb(255, 255, 255);
}

.show-card {
    border: none !important;
}

.show-img {
    width: 100%;
    height: 24rem;
    object-fit: cover;
    border-radius: 1rem;
}

.btns {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
